<div class='container'>
  <div class='row'>
  <%= render 'books/books' ,{user: @user, book: @book_new} %>
  <div class='col-md-8 offset-md-1'>
    <h2>Book detail</h2>
    <table class='table table-hover table-inverse'>
      <thead></thead>
      <tbody>
          <tr>
          <td>
              <%= link_to user_path(@user) do%>
                <%= image_tag @user.get_profile_image(100, 100) %>
                <%= @user.name %>
              <% end %>
          </td>
          <td>
              <%= link_to book_path(@book) do%>
                <%= @book.title %>
              <% end %>
          </td>
          <td><%= @book.body %></td>
          <% if @book.user == current_user %>
          <td>
            <%= link_to "Edit", edit_book_path(@book) %>
          </td>
          <td>
            <%= link_to book_path(@book), method: :delete, data: { confirm: '本当に削除しますか?' } do %>
              <%= "Destroy" %>
            <% end %>
          </td>
          <% end %>
          </tr>
      </tbody>
    </table>
  </div>
</div>
</div>